.distros_container {
  border: 1px solid black ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;  

}

.distros_container div {
   width: 33%;
   text-align: center;
}

img {
  height: auto;
  width: 50%;
}

