.form-master {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 45px 0px 10px 0px;
}

.form-container {
  margin-top: 10%;
  padding: 25px 19px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width: 500px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5)
}

.form-container input{
    height: 40px;
    width: 100%;
    border: 1px solid #d1d2d4;
    border-radius: 4px;
    margin-bottom: 13px;
    padding-left: 6px;
    font-size: 15px;
    box-sizing: border-box;
}
