/*.home-body {
  background-color: #266e9e;
  height: 100vh;
  position: relative;
  overflow: hidden;
}


.home_page_background {
  position: absolute;
  right: 0;
  bottom: -22%;
  width: 50%;
  opacity: 0.7;
}


.home_page_slogan {
  font-size: 4.4rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: 'Indie Flower', cursive;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 39%;
  left: 8%;
}

.home_page_slogan:first-child {
  color:red;
}*/

.bgImage {
  background-position: center;
  background-size: cover;
  min-height: 100%;
  height: 100vh;
  background-image: url("../public/images/dark.jpg");
  background-color: red;
}

.display-container {
  display: relative;
}

.gScale {
  filter: grayscale(50%);
}


/* slogan */

.display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
}

.text-white {
  color: #fff!important;
}

.jumbo{
  font-size:64px!important;
  padding: 48px;
}

.large {
  font-size: 18px!important;
}

.signUp-container {
  padding: 48px;
}

.signUp-button {
  border:none;
  display:inline-block;
  outline:0;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}

.white {
  color:#000!important;
  background-color:#fff!important;
}

.padding-large {
  padding:12px 24px!important;
}

.top-margin {
  margin-top:16px!important;
}

.opaque, .hover-opacity {
  opacity:0.60
}

.hide-small {
  /*display: none!important;*/
}
